*, ::before, ::after
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2%;
    font-family: 'Nunito';
    font-size: 1.1rem;
}
section
{
    text-align: center;
}
a
{
    cursor: pointer;
}
img
{
    max-width: 10%;
    border-radius: 50%;
}
h1
{
    margin: 0;
    font-family: 'Poppins';
    font-size: 2.5rem;
}
section
{
    width: 70%;
    margin: 2% auto 0;
}
h2
{
    margin-top: 0;
    margin-bottom: 2%;
    font-size: 1.5rem;
}
h2 i
{
    display: none;
}
section ul
{
    width: 50%;
    margin: 0 auto;
    list-style-type: none;
    padding-inline-start: 0;
}
section ul a
{
    color: inherit;
    text-decoration: none;
}
section ul li
{
    padding: 2% 0;
    border: 1px solid;
    border-radius: 10px;
    margin: 0 auto 4%;
    position: relative;
    box-shadow: 0 0 0.5rem transparent;
    transition: all 0.2s ease-in-out;
}
section ul li:hover
{
    background-color: #000000;
    color: #FFFFFF;
    box-shadow: 5px 5px 0.5rem #555555;
    border-color: transparent;
}
section ul i
{
    position: absolute;
    left: 2%;
}
#copy
{
    font-family: 'Poppins';
    margin-bottom: 0;
}
@media screen and (max-width: 991px)
{
    img
    {
        max-width: 15%;
    }
    section ul
    {
        width: 70%;
    }
}
@media screen and (max-width: 767px)
{
    img
    {
        max-width: 20%;
    }
    section ul
    {
        width: 90%;
    }
}
@media screen and (max-width: 600px)
{
    h2
    {
        margin-bottom: 3%;
    }
    img
    {
        max-width: 25%;
    }
    section
    {
        width: 85%;
    }
}
@media screen and (max-width: 550px)
{
    body
    {
        font-size: 1rem;
        /* padding: 5% 1%; */
    }
    section
    {
        width: 100%;
    }
    section ul
    {
        width: 95%;
    }
}
@media screen and (max-width: 400px)
{
    h1
    {
        font-size: 2rem;
        margin-bottom: 5%;
    }
    h2
    {
        margin-bottom: 5%;
        font-size: 1.3rem;
    }
    h2 i
    {
        display: inline-block;
    }
    section ul
    {
        width: 100%;
    }
    section li i
    {
        display: none;
    }
}